* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #020617;
    color: white;
}

main {
    max-width: 900px;
    margin: 0 auto;
}

.topo {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    width: 90px;
}

.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu li {
    margin: 15px;
}

.menu a {
    color: #38bdf8;
}

.bloco {
    padding: 30px;
}

.time {
    display: flex;
    align-items: center;
    background: #1e293b;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    position: relative;
}

.time img {
    width: 70px;
    margin-right: 15px;
}

/* barra lateral */
.time::before {
    content: "";
    position: absolute;
    left: 0;
    width: 6px;
    height: 100%;
}

/* cores */
.flamengo::before { background: red; }
.palmeiras::before { background: green; }
.corinthians::before { background: white; }
.sao-paulo::before { background: red; }
.santos::before { background: gray; }
.vasco::before { background: black; }
.gremio::before { background: blue; }
.inter::before { background: red; }
.cruzeiro::before { background: blue; }
.atletico::before { background: gray; }
.bahia::before { background: blue; }
.botafogo::before { background: white; }
.coritiba::before { background: green; }
.chape::before { background: green; }
.mirassol::before { background: yellow; }
.bragantino::before { background: red; }
.remo::before { background: blue; }
.vitoria::before { background: darkred; }
.athletico::before { background: red; }

.footer {
    text-align: center;
    padding: 20px;
}
/* BANNER */
.banner {
    text-align: center;
    padding: 20px;
}

.banner img {
    width: 100%;
    border-radius: 10px;
}

/* CARDS COM GRID */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}

.card {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* TIMES EM GRID (2 COLUNAS DESKTOP) */
.times {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

/* 📱 RESPONSIVIDADE */
@media (max-width: 768px) {

    /* vira 1 coluna */
    .cards {
        grid-template-columns: 1fr;
    }

    .times {
        grid-template-columns: 1fr;
    }

    /* menu em coluna */
    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .topo {
        flex-direction: column;
        text-align: center;
    }
}